@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
    --primary-color: rgb(83, 146, 167);
    --secondary-color: rgb(255, 188, 162);
    --tertiary-color: rgb(194, 61, 0);
    --field-color: rgb(44, 51, 44);
    --menu-color: rgb(33, 28, 26);
    --font-color: white;
    --background-color: black;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Press start 2P", cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--font-color);
}


/* MENU ELEMENTS CLASSES */

.menu {
    position: absolute;
    top: 30dvh;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    z-index: 1;
    background-color: var(--menu-color);
    padding: 30px;
    border: 3px var(--font-color) double;
    border-radius: 5px;
    outline: 2px var(--font-color) double;
    box-shadow: 0 0 50px var(--primary-color);
}

.menu-title {

}

.menu-subtitle {

}

.menu-input {
    width: 70px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 2px;
    color: var(--tertiary-color);
    font-size: 1em;
    outline: none;
}

.menu-input::placeholder {
    
}

.menu-button {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 50px;
    min-width: 200px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 2px;
    border-style: double;
    cursor: pointer;
    border-color: var(--primary-button-color);
    background-color: var(--background-color);
    color: var(--secondary-button-color);
}

.menu-button:hover {
    border-color: var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}


/* MENU ELEMENTS IDS */

#menu-screen-play > label {
    font-size: 12px;
    color: var(--primary-color);
    opacity: 10%;
    margin-top: -20px;
}

#menu-screen-next-level,
#menu-screen-pause,
#menu-screen-game-over {
    display: none;
}

#button-play,
#button-pause,
#button-next-level,
#button-reset {

}


/* SCENE ELEMENTS CLASSES AND TAGS */

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-bottom: 10px;
    /* filter: blur(4px); */
}

.header-text > h3 {

}

.header-text > h4 {

}

canvas {
    background-color: var(--field-color);
    border-width: 0cm;
    border-color: var(--font-color);
    min-width: none;
    /* filter: blur(4px); */
}


/* SCENE ELEMENTS IDS */

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

#score-value {
    font-weight: 9600px;
    font-size: 2.5rem;
}

#player-name {
    font-weight: 9600px;
    font-size: 1rem;
}
